@model MVPAssignmentProject.Domain.Dto.PropertySearch
<div class="col-lg-12" style="margin-top:30px;" id="DetailsReportsID">
    <div class="row">

        @foreach (var item in Model.PropertySearchList)
        {
            <div class="col-lg-4">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PropertyImage)" class="card-img-top" alt="Image" width="100" height="100" />

                    <div class="card-body">
                        <h5 class="card-title">@item.PropertyTypeName</h5>
                        <p class="card-text">@item.PropertyDescription</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Price : @item.PropertyPrice</h5>
                        <p class="card-text">Location : @item.PropertyLocation</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Broker Name : @item.BrokerName</h5>
                        <h5 class="card-title">Broker Address : @item.BrokerAddress</h5>
                        <h5 class="card-title">Broker Contact : @item.BrokerContact</h5>
                    </div>

                </div>
            </div>

        }

    </div>
</div>


