@model IEnumerable<MVPAssignmentProject.Domain.Model.PropertyDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.PropertypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyStatus)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.PropertypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PropertyImage)" alt="Image" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyStatus)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyDetailId })
        </td>
    </tr>
}

</table>
